apiVersion: v1
kind: Service
metadata:
  name: catalogue
  labels:
    service: catalogue
spec:
  selector:
    service: catalogue
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
